body{
    background: #0f1626 ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    
}
h1{
font-family: 'Josefin Slab', serif;
color: white;
text-align: center;
}
h6{
    font-family: 'Josefin Slab', serif;
    color: grey;
    text-align: center;
    margin-top: -20px;
    letter-spacing: 0.4em;
    font-weight: 100;
}
p{
    margin: 20px auto 0 auto;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    min-height: 10vh;
    letter-spacing: 0.4em;
    color: grey;
    line-height: 25px;
}

    img {
      margin:20px auto;
     
     width:150px;
     height:150px;
      border-radius: 50px;
  }


.about-me {
text-align: center;
margin: 20px auto 0 auto;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    min-height: 10vh;
    color: grey;
    font-weight: lighter;
    font-size: 20px;
    padding:30px 50px;
}
.link a{
    color:grey;
    padding: 20px 20px;
    letter-spacing: 0.2em;
    text-decoration: none;
}
nav{
    width: 100%;
    height: 100px;
    line-height: 30px;
    text-align: center;
    margin: 20px auto;
    padding: 50px 10px;
    
}

hr {
    
    height: 10px;
    border: 0;
    /*border-top: 1px solid #7D1935;
    margin: 20px 120px;
    padding: 0;*/
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin: 20px 430px;
}

a:hover{
    background-color: #ff533d;
   
}
div{
text-align: center;
  margin-bottom: 30px;
}
.hover_class a {
  padding: 10px 5px 5px 5px;
  background-color: transparent;  
}
/*
.hover_class a{
  visibility:hidden;
  padding: 10px 5px 5px 5px;
}
.hover_class:hover a {
 visibility:visible;
 background-color: rgb(0,116,194)
}
*/